body {
    /* background-image: url(john-towner-89PFnHKg8HE-unsplash.jpg); */
    background-color: #171e2e;
    color: #FFFFFF;  
    margin: 0;
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-size: 100% 100%; */
    /* display: flex;
    justify-content: center;
    padding: 170px; */
}

.header {
    padding: 5px 200px;
    font-family: 'Games', sans-serif;
    font-size: 25px;
    color: #0056db;
    background-color: #0e1525;
    display: flex;
    justify-content: center;
}
.scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 1091px; */
    height: 165px;
}
.score, .dialog {
    font-family: 'Games', sans-serif;
    /* color: #004182; */
    color: #3186d4;
    font-size: 40px;
}
.score {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.dialog {
    padding-bottom: 20px;
}
.display {
    background-color: #171e2e;
    display: flex;
    width: auto;
    height: 350px;
}
.image {
    flex: 1;
}
.btn-container {
    background-color: #0e1525;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 157px;
    gap: 50px;
}
button {
    padding: 20px 40px;
    border-width: 3px;
    border-radius: 10px;
    background-color: #3186d4;
    box-shadow: 0 0 5px #3186d4,
    0 0 25px #3186d4;
    border-color: #3186d4;
}
button:hover {
    box-shadow: 0 0 5px #3186d4,
    0 0 25px #3186d4, 0 0 50px #3186d4,
    0 0 100px #3186d4, 0 0 200px #3186d4;
}
#rock, #paper, #scissor {
    font-size: 40px;
}